<h2 class="ui header">
Welcome to aBlaZe
  <div class="sub header">Where bright minds share and reflect</div>
</h2>

<a href="/pages/info"><button class="ui primary button">Information</button></a>

<br>
<hr>
<h3>Our Preferred Topic List</h3>
<br>
<div class="ui relaxed grid">

<div class="four wide column"><i class='icon-ruby-on-rails-alt' style="font-size:5em"></i>Ruby on Rails</div>
<div class="four wide column"> <i class='icon-git' style="font-size:5em"></i>Git</div>
<div class="four wide column"><i class='icon-mongodb' style="font-size:5em"></i>Mongo DB</div>
<div class="four wide column"><i class='icon-ubuntu' style="font-size:5em"></i>Ubuntu</div>
<!--end first four -->

<!--end second four -->
<div class="four wide column"><i class='icon-ruby' style="font-size:5em"></i>Ruby</div>
<div class="four wide column"> <i class='icon-wordpress' style="font-size:5em"></i>WordPress</div>
<div class="four wide column"><i class='icon-javascript' style="font-size:5em"></i>JavaScript</div>
<div class="four wide column"><i class='icon-linux-mint' style="font-size:5em"></i>Linux Mint</div>

<!--end third four -->


<div class="four wide column"><i class='icon-elixir' style="font-size:5em"></i>Elixir</div>
<div class="four wide column"> <i class='icon-angular' style="font-size:5em"></i>Angular</div>
<div class="four wide column"><i class='icon-sass' style="font-size:5em"></i>Sass</div>
<div class="four wide column"><i class='icon-reactjs' style="font-size:5em"></i>React</div>

<hr>


</div>


<br>
        <div class="item">
 <%= form_tag posts_path, method: :get do %>
 <div class="ui action left icon input">
            <i class="search icon"></i>
           <%= text_field_tag :search, params[:search], placeholder: 'Search...'%>
            <%= button_tag "Search Posts", name: nil, class: 'ui teal button', data: { disable_with: " <i class='fa fa-spinner fa-spin fa-fw'></i>  Searching... "} %>
          </div>
          <%end%>
    </div>

<br>
<br>

 <p>
   <%=current_page?(controller:'pages', action: 'index') %> - the current page and action are  (pages - index)
 </p>